.env

assets/node-v18.18.2-darwin-arm64.tar.gz
assets/node-v18.18.2-darwin-x64.tar.gz
assets/node-v18.18.2-win-x64.zip
assets/node-v18.18.2-win-x86.zip
assets/node-lts

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
