@import '../config';

.createProjModal .contentContainer {
    min-width: none;
    max-width: none;
    width: 350px;
}

.contentContainer .topBar {
    padding: 0px;
    height: 30px;

    .title {
        font-size: $para1;
    }
}

.contentContainer .middleBar {
    align-items: flex-start;

    .inputTitle {
        margin-bottom: 10px;
        font-size: $para3;
        font-weight: 600;
        color: #222;
    }
}
