@import '../config';

.homeSidebar {
  height: 100vh;
  background-color: white;
  min-width: 200px;
  max-width: 200px;
  z-index: 1;
}

.menuControls {
  padding: 0px 16px;
  padding-top: 10px;
}

.homeSidebar .main {
  padding: 0px 16px;
  margin-top: 40px;
  // padding-right: 40px;
}

.homeSidebar .logoContainer {
  display: flex;
  align-items: center;
  transform: translateX(-5px);

  .logoImg {
    object-fit: contain;
    width: 27px;
    margin-right: 5px;
  }

  .logoTxt {
    font-size: $para3;
    color: black;
    font-weight: bold;
  }
}

.homeSidebar .profileContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .iconContainer {
    @include flexCenter(row);
    margin-right: 6px;
    color: $textGrey;
  }

  p {
    font-size: $para5;
    color: $textSecondary;
  }
}

.homeSidebar .right {
  .homeBtn {
    width: 100%;
    @include flexCenter(row);
    font-size: $para5;
  }
}

// .vsSwitchContainer {
//   display: flex;
//   align-items: center;
//   transform: translateX(-5px);

//   .logoImg {
//     object-fit: contain;
//     width: 16px;
//     margin-right: 8px;
//     margin-left: 8px;
//   }

//   p {
//     font-size: $para4;
//     color: $textSecondary
//   }
// }
