@import '../config';

.homeContainer {
  width: 100vw;
  height: 100vh;

  @include flexCenter(row);
  justify-content: flex-start;

  h1 {
    font-size: 25px;
    color: #aaa;
  }
}

.homeContainer .topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.editorSelection {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 4px;
  gap: 10px;

  p {
    font-size: $para5;
  }

  .editorSelectionTxt {
    font-size: $para4;
    font-weight: bold;
    color: $textSecondary;
    margin-top: 8px;
  }
}

.vsImgContainer {
  display: flex;
  align-items: center;

  .vsImg {
    object-fit: contain;
    width: 16px;
    margin-left: 5px;
  }

  p {
    font-size: $para4;
    font-weight: bold;
    color: $textSecondary;
  }
}

.homeContainer .middleBar {
  @include flexCenter(column);
  background-color: #f9fafb;

  height: 100vh;
  margin: 0px;
  width: 100%;
  padding: 20px;
}

.mainContainer {
  min-height: 250px;
  max-height: 400px;
  width: 300px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  @include flexCenter(column);
  justify-content: space-between;
  margin-bottom: 20px;
}

.projectsContainer {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 20px 10px;

  .noProjectsTxt {
    width: 100%;
    height: 80%;
    @include flexCenter(row);
    font-size: $para3;
    color: #aaa;
  }

  .openProjectTxt {
    width: 100%;
    padding: 0px 10px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: $para1;
  }

  .projectBtn {
    padding: 8px 10px;
    width: 100%;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: 500;
    font-size: $para3;

    &:hover {
      background-color: #f0f0f0;
    }

    .projKey {
      color: #aaa;
      font-size: $para5;
    }
  }
}

.bottomBar {
  width: 100%;
  height: 60px;
  @include flexCenter(row);
}

.createBtn {
  color: white;
  width: calc(100% - 30px);
  padding: 10px;
  border-radius: 5px;
  @include flexCenter(row);
  transition: 0.2s;
  font-weight: 600;
  font-size: $para2;
}
