@import '../config';

.openWithVsModal .contentContainer {
  max-width: none;
  width: 420px;
}

.openWithVsModal .middleBar {
  .inputTitle {
    margin-bottom: 6px;
  }

  .requirementContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;

    .bulletIcon {
      width: 15px;
    }

    p {
      font-size: $para4;
      margin-right: 5px;
      color: $textSecondary;
    }

    .icon {
      color: darken($successColor, 10%);
    }

    .reqFailedIcon {
      margin-top: 1.5px;
      color: $errColor;
    }
  }

  .noteContainer {
    flex-direction: column;

    p:nth-child(1) {
      margin-bottom: 10px;
    }
  }
}
