@import '../../config';

.routesBg {
  height: 100vh;
  overflow: hidden;
}

.headerContainer {
  // margin-bottom: 5px;
  height: 40px;
  padding: 20px 12px 0px 12px;
  margin-bottom: 10px;
  font-size: $para4;
}

.routesContainer {
  width: 100%;
  height: calc(100vh - 40px - 10px);
  padding-bottom: 50px;
  overflow: scroll;
}

.routeHeader {
  font-weight: bold;
}

.groupActionBtn {
  background-color: transparent;
  color: black;
  padding: 0px;
  font-size: 20px;
  margin-right: 20px;
}
